{% extends "base_menu.html" %}

{% block title %}
Ads CRUD and Users
{% endblock %}

{% block content %}
<h1>Ads List</h1>
<p>

<ul>
    {% for item in object_list %}
    <li>
        <a href="{% url 'ads:ad_detail'  item.id %}">{{ item.title }}</a>
        {% if item.owner == user %}
        (<a href="{% url 'ads:ad_update' item.id %}">Edit</a> |
        <a href="{% url 'ads:ad_delete' item.id %}">Delete</a>)
        {% endif %}
    </li>
    {% empty %}
    <p>There are no articles in the database.</p>
    {% endfor %}
</ul>

</p>
<br/>
<p>
    <a href="{% url 'home' %}">Return to all apps</a>
</p>
{% endblock %}